.topnav {
    background-color:white;
    overflow: hidden;
    height: 10vh;
  }
  
  .topnav a {
    color: black;
    text-align: center;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    font-size: 2.5rem;
  }

  .logo {
    float: left;
  }

  .right-nav {
    float: right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
